.chevron-circle {
    width: 2.5rem;
    height: 2.5rem;
    @extend .position-relative;

    &:hover {
        background: $white !important;

        svg {
            fill: $primary !important;
        }
    }

    svg {
        @extend .position-absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.home-icon{
    top: 1rem;
    left: 1.3rem;
    @include media-breakpoint-up(md) {
        top: 10%;
        left: initial;
    }
}