
$font-family-base:  'Archivo Narrow', sans-serif;
$font-weight-base: 400;

$headings-font-family:  'Spartan', sans-serif;
$headings-font-weight: 700;

$DaisyBush: #E55934;
$Dark: #000000;

/* make the customizations */
$theme-colors: (
    "primary": $DaisyBush,
    'dark': $Dark
);

$h1-font-size: 6rem;

$container-max-widths: (
        sm: 540px,
        md: 760px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);

$grid-breakpoints: (
        xs: 0px,
        sm: 540px,
        md: 760px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
);