.home-background{
    background-repeat: no-repeat;
    height: 100vh;
    height: -webkit-fill-available!important;
    background-position: center top;
    background-size: 80vh;
    
  
    @include media-breakpoint-up(md) {
        background-position: right;
        background-size: 100vh;

    }
}